.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: rgba(255,255,255,0.9);
    border-radius: var(--radius);
    padding: 1rem;
    max-height: 50%;

}

.modal-body {
    margin-bottom: 1rem;
}