.path-selector {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
}

.btn-path {
  border: 1px solid black;
  background: var(--clr-grey-7);
  color: var(--clr-grey-8);
  max-width: 100%;
  min-height: 100%;
  overflow-wrap: break-word;
  font-size: 0.9rem;
  font-style: italic;
  padding: 0.1rem;
  box-shadow: var(--inset-shadow);
}